@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-family: 'GmarketSansMedium';
}

.support-message {
    color: #006994;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.main-title {
    color: #333;
    font-size: 1.8em;
    font-weight: bold;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.right {
    right: 0;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    z-index: 2;
}

.openbtn:hover {
    background-color: #444;
}

.openbtn.left {
    left: 20px;
}

.openbtn.right {
    right: 20px;
}

#main {
    transition: margin-left .5s, margin-right .5s;
    padding: 16px;
}

.content {
    margin: 20px;
    padding-bottom: 60px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
